* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
    list-style: none;
    scroll-behavior: smooth;
    /* background: #282c34; */
}
#dark-theme{
    cursor: pointer;
}
.header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
    width: 100%;
}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}


#menu-icon {
    font-size: 2rem;
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img {
    width: 30vw;
    border-radius: 50%;
    border: 2px 
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}



.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: black;
    color: white;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials a:visited{
    color: black;
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1)
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-align: justify;
}

.grid-card:hover {
    transform: scale(1.02);
    background: black;
    color: white;
}

.grid-card a {
    color: violet;
}

.grid-card a:hover {
    color: white;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    /* background: linear-gradient(to right, #009dff, #ff00ff); */
    /* background: linear-gradient(to right, #ff9a8b, #ff6a88); */
    background: linear-gradient(to right, #00b09b, #96c93d);
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #009dff, #ff00ff);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: 0;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    background: black;
    color: white;
    transform: translateY(-10px)scale(1.03);
}

.project-card img {
    width: 15vw;
    border-radius: 1rem;
}

.project-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.project-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 8rem;
}

.input-box input {
    position: relative;
    border-radius: 3rem;
    border: 2px solid black;
    padding: 2rem 8rem;
    font-size: 3rem;
}

.input-box input::placeholder {
    font-size: 3rem;
}

.input {
    position: relative;
}

.input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 3rem;
}

footer ul li a {
    color: black;
    font-weight: 600;
}

.copyright {
    font-size: 300;
    margin-top: 2rem;
}

@media (max-width:1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }

    #menu-icon {
        display: none;
    }

    .about .about-container {
        gap: 3rem;
    }

    .experience-info {
        flex-direction: column;
    }

}

@media (max-width:768px) {
    header {
        gap: 1rem;
        padding: 1rem 1rem;
    }

    header .logo {
        font-size: 1rem;
    }

    header .visit-btn {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-info img {
        width: 70vw;
    }
}

@media (max-width:600px) {
    header {
        padding: 1rem 5rem;
        gap: 8rem;
    }

    header .logo {
        font-size: 1.5rem;
    }

    .about-container img {
        width: 80vw;
    }

    header #menu-icon {
        display: block;
    }

    .section-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 2rem;
        display: none;
    }

    .nav-links li {
        margin-top: 1rem;
        padding: 1rem;
    }

    .nav-links.active {
        display: block;
    }

    .input-box input {
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }

    .input-box input::placeholder {
        font-size: 1rem;
    }

    footer ul {
        gap: 1rem;
    }
}

/* Dark Theme Styles */
body.dark-theme {
    background-color: #282c34;
    color: white;
}

body.dark-theme .header {
    background-color: rgba(0, 0, 0, 0.8);
}

body.dark-theme .btn {
    border: 2px solid white;
}

body.dark-theme .btn:hover {
    background-color: white;
    color: black;
}

body.dark-theme .input-box{
    border: 2px solid white;
}

body.dark-theme .socials i {
    color: white;
}

body.dark-theme footer {
    background-color: #1c1c1c;
        color: white;
}
body.dark-theme footer a{
    color: white;
}

body.dark-theme .grid-card {
    border-color: white;
}

body.dark-theme .project-card {
    border-color: white;
}

body.dark-theme .grid-card img{
    color-scheme: white;
}

body.dark-theme .grid-card a {
    color: white;
}

/* Other elements can be added here for the dark theme */

